nav{
    ul{
        display: flex;
        li{
            list-style: none;
            padding: 1rem;
            &:hover{
                background-color: brown;
            }
            a{
                color: rgb(146, 137, 137);
                &:active{
                    color: violet;
                }
            }
        }
    }
}

@media (min-width: 850px){
    nav{
        ul{
            flex-direction: column;
        }
    }
}